/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --page-title-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-color: #ff0070;
  --article-title-color: #000028;
  --header-text-color: #ff0070;
  --visibility: visible;
  --bg-picture: url(../images/cover-image-dark.png);
  color: var(--text-color);
  background-color: var(--bg-color);
}


.theme_dark .section__title {
  color: var(--title-decor-color);
}
