/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (width <= 768px) {
  .theme_light .page__title  {
    --accent-color: #ff8dcb;
     }
}
